* {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
	background-color: #eef7ff;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 10% auto;
}

#shopping_list {
	
	padding:  80px;
	text-align: left;
	height: 100%;
	width: 80%;
	background-color: white;
	box-shadow: 0 0 8px gray;
	border-radius: 10px;
}

#shopping_list ul {
	list-style: none;
}

#shopping_list li {
	text-align: left;
	margin: auto;
	width: 50%;
}

.saveItemButton{
	margin: 10px 50px;
	/* float: right; */
}

.itemListContainer{

}

.addItemInput{
	margin: 20px 20px 20px 0;
}
